* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(41, 41, 41);
}

body {
    box-sizing: inherit;
    cursor: default;
}

.header {
    width: 100%;
    padding: 2rem 0;
    background-color: rgb(30, 189, 123);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3.5rem;
    color: rgb(248, 248, 248);
}

.player {
    font-size: 1.5rem;
}

.playerName {
    padding: 1rem;
    border: .2rem solid rgb(41, 41, 41);
    margin: 2rem 0;
}

.gameArea {
    position: relative;
}

.play, .playerNames {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(30deg, rgb(119, 190, 199), rgb(245, 245, 245));
}

.enterNames {
    margin-bottom: 3rem;
    color: rgb(30, 189, 123);
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

.play {
    z-index: 400;
}

.playerNames {
    padding: 4rem 0;
    z-index: 200;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs p {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

#player1, #player2 {
    font-size: 1.8rem;
    padding: 1rem 1rem;
}

#player1 {
    margin-right: 1rem;
}

.playBtn, .startOver, #gameStart {
    font-size: 3rem;
    margin-top: 5rem;
    padding: 1rem 2rem;
    border-radius: .6rem;
    background-color: dodgerblue;
    color: rgb(245, 245, 245);
    box-shadow: .2rem 0 .6rem rgba(41, 41, 41, 0.555);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 200ms ease;
}

.playBtn:hover, .startOver:hover, #gameStart:hover {
    background-color: rgb(75, 165, 255);
}

.playBtn:active, .startOver:active, #gameStart:active {
    box-shadow: .1rem 0 .2rem rgba(41, 41, 41, 0.555);
}

.gameBoard {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    background: linear-gradient(30deg, rgb(119, 190, 199), rgb(245, 245, 245));
}

.row {
    display: flex;
}

.box {
    background-color: rgb(201, 201, 201);
    margin: .5rem;
    font-size: 4rem;
    padding: 1rem;
    height: 5rem;
    width: 5rem;
    text-align: center;
    border-radius: .2rem;
    cursor: pointer;
    box-shadow: .2rem 0 .4rem rgba(12, 12, 12, 0.589);
}

#winnerCircle {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    background-color: aquamarine;
    padding: 5rem;
    text-align: center;
    box-shadow: .2rem 0 .4rem rgba(0, 0, 0, 0.521);
    z-index: 120;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.685);
    z-index: 100;
}

.hidden {
    display: none;
}